<!-- <h1>This is the show page for an individual instance of your model.</h1>
<h1></h1> -->
<section>
<h2>Edit your Profile information</h2>
<br/>
  <br/>
  <form class="form" action="/users/<%= @user.id %>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">
  First Name: <input type="text" name="fname" value="<%= @user.fname %>">
  Last Name: <input type="text" name="lname" value="<%= @user.lname %>">
  Username: <input type="text" name="username" value="<%= @user.username %>">
  Email: <input type="text" name="email" value="<%= @user.email %>">
  <input id="myInput" type="hidden" name="password" value="<%= @user.password_digest %>">


  <input type="submit" value="update" class="button">
</form>


<h2>Edit Your Listings</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <% Array(@listings).each do |listing|%>
    <tr>
      <td><%= listing.id %></td>
      <td><img src="<%= listing.photo_1 %>" alt="" width="200" height="100"/></td>
      <td>
        <strong><%= listing.name %></strong>
        <br/><br/>
        <%= listing.summary.truncate(255) %><a href='/listings/<%= listing.id %>\edit'>edit</a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</section>